extends base

block append scripts
  script(src='/public/main.js')
  script(type='text/javascript').
    var quiz = !{JSON.stringify(quiz)};
    load();

block main
  if done
    .jumbotron.mainBox
      .d-flex
        h2.mr-auto Your scores: 
        a.btn.btn-primary.align-self-center(href='/')  go back
      table.table.table-striped.table-hover.table-bordered
        thead
          tr
            th question
            th correct answer
            th your answer
            th time
            th penalty
            th average time
        tbody
          for el in stats
            tr
              th #{el.question}
              th #{el.answer}
              if el.answer == el.answerU
                th(style='color: green')= el.answerU + " \u2713"
              else
                th(style='color: red')= el.answerU + " \u2715"
              th #{el.time}
              th #{el.penalty}
              th #{el.avg} 
    .jumbotron.mainBox
      h2 High scores
      table.table.table-striped.table-hover.table-bordered
        thead
          tr
            th place
            th name
            th score
        tbody
        - var i = 0
        while i < 5
          tr
            th= ++i
            if highScores[i-1]
              th #{highScores[i-1].name}
              th #{highScores[i-1].score}
            else
              th -
              th -
          //- - i = i + 1

  else
    .jumbotron.mainBox
      #questions_section
        // pytania
        h2#tIntro #{quiz.intro}
        #question_fields.chalkboard
          .rowFlex
            #q
            div(style='margin-left: 20px')  = 
            input#answer.input(type='text' oninput='setAnswer(currentQuestion, answer.value, bDone)')
            #timer.timer 2
          .rowFlex
            label#prev.boardLabel(style='grid-area: prev;' onclick='prev()') #{'<'}
            label#curr.boardLabel(style='grid-area: cur;') 1/2
            label#next.boardLabel(style='grid-area: next;' onclick='next()') #{'>'}
        .scoreBottom
          button#bQuit.btn Quit
          button#bDone.btn Done
        #finish
          .d-flex
            a.align-self-center.mr-auto Quiz submitted
            .btn-group(role="group")
              a.btn.btn-primary(href = '/') Go back
              a.btn.btn-primary(href = '/quiz/' + quiz.id) See results
      script.
        function byId(x) { return document.getElementById(x); }
        let finish = byId('finish');
        finish.style.display = 'none';
        let bDone = byId('bDone');
        bDone.style.display = 'none';
        let bQuit = byId('bQuit');
        let prev = byId('prev');
        let next = byId('next');
        let question_fields = [
          byId('timer'),
          byId('q'),
          byId('answer'),
          byId('prev'),
          byId('curr'),
          byId('next')
        ];
        let answer = byId("answer");
        let currentQuestion = 0;
        setQuestion(currentQuestion, question_fields, answer);
        prev.onclick = () => {currentQuestion--; setQuestion(currentQuestion, question_fields);}
        next.onclick = () => {currentQuestion++; setQuestion(currentQuestion, question_fields);}
        bQuit.onclick = () => { window.location = '/'; }
        bDone.onclick = () => { 
          endQuiz(); 
          answer.disabled = true;
          finish.style.display = 'block';
        }
        answer.addEventListener("keyup", event => {
          console.log(event.keyCode);
          console.log(next.style.visibility);
          if (event.keyCode === 13) {
              if(bDone.style.visibility == 'visible') bDone.click();
              else if(next.style.visibility == 'visible') next.click();
          }
        });

block nav
  a Logged as #{name}